.wrapper{
  margin-left: 13px;
}
.icon{
  cursor: pointer;
}

.iconBubbleButton {
  background-color: #243656;
  border: 1px solid #293D63;
  border-radius: 50%;
  padding: 11px 9px;
  margin-left: 20px;
}

.iconBubbleButtonActive {
  background-color: #F4266E;
}

.iconBubbleButton:hover {
  background-color: #243656;
}

.iconBubbleButtonActive:hover {
  background-color: #F4266E;
}
