.container {
    display: flex;
    flex-direction: column;
}

.subtitle {
    text-align: center;
    font-size: 1rem;
    line-height: 140%;
    font-weight: normal;
    font-style: normal;
    font-family: "Montserrat";
    color: #02122F;
}

.searchBar {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    font-family: "Montserrat";
    font-size: 1rem;
    color: #999999;
}

.searchBar .inputBox {
    flex: 1;
}

.disabled {
    opacity: 0.75;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.providerAvatar {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem !important;
    cursor: pointer;
}

.avatarContainer {
    position: relative !important;
}

.avatarName {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8px;
}

.pencilIcon {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
}