.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #0D2145;
}

.header {
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 20px;
    color: #0D2145;
    padding: 1.2rem;
}

.headerIcon {
    height: 1rem;
    width: 1rem;
}

.headerIcon path {
    fill: #243656;
}

.addTaskInputboxContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.addTaskButton {
    color: #F4266E !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    font-family: "Montserrat" !important;
    text-transform: none !important;
    padding: 0px !important;
    cursor: pointer;
    user-select: none;
}

.sectionHeader {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #0D2145;
    margin-bottom: 0.5rem;
}