.root {
    height: calc(100vh - 64px);
    overflow: hidden;
    background-color: #ffffff;
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.titlesContainer {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 26px;
    font-style: normal;
    color: #02122F;
}

.subtitle {
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #02122F;
    margin-top: 0.5rem;
}

.setupContainer {
    height: calc(100vh - 256px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 8rem;
}

.setupText {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    color: #999999;
    margin-top: 1rem;
}

.headerButtons {
    height: 30px;
    width: 136px;
}

.tableContainer {
    flex: 1;
}