.root {
  height: calc(100vh - 64px);
  overflow: hidden;
  background-color: #ffffff;
  padding: 1rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
}

.titleText {
  text-align: center;
  color: #0D2145;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Playfair Display";
}

.photoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #BBC1CD;
}

.photoPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: #F0F3F8;
  border: solid 1px #BBC1CD;
  overflow: hidden;
;
}

.uploadPhotoContainer {
  display: flex;
  min-height: 26px;
  gap: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  align-items: center;
  color: #02122F;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputBlockContainer {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
}

.uploadInput {
  width: 0;
  height: 0;
  opacity: 0;
}

.photoDisplay {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loader {
   width: 30px;
   height: 20px;
}
