.emptyContainer {
    height: 479px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.noFilesText {
    font-size: 1.2rem;
    color: #999999;
}