.root {
    background-color: #566F9F;
    z-index: 10;
}

.drawerToggler {
    cursor: pointer;
    height: 100%;
    background-color: #566F9F;
}

.drawerTogglerIcon {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    border-bottom: .5px solid #8699BC;
    border-top: .5px solid #8699BC;
    padding: 3px 5px;
    width: 3rem;
}

.drawerTogglerIconOpened {
    justify-content: flex-end !important;
}

.textVertical {
    width: 100%;
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-bottom: 1rem;
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFFFFF;
    user-select: none;
}

.drawerWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.drawer {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.drawerBody {
    flex: 1;
    padding: 1.7rem;
    background-color: #F0F3F8 !important;
    overflow: auto;
}

.drawerTitle {
    font-family: "Playfair Display";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
}