.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.conditionsList {
    height: 100%;
    padding: 0px 5px 1rem 5px;
    overflow-y: auto;
}

.footer {
    position: sticky;
    bottom: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.formButton {
    padding: 6px;
    font-size: 1rem;
    background: #F4266E !important;
    border: 1px solid #F4266E !important;
    color: #FFFFFF !important;
    border-radius: 4px;
    min-width: 120px;
}