
  .formContainer {
    margin-top: 1em;
  }

  .textArea {
    padding: 7px 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    border: none;
  }

  .labelText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 2em;
    color: #02122F 
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
  }
  