.root {
    height: calc(100vh - 64px);
    overflow: hidden;
    background-color: #ffffff;
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1.86rem;
    font-style: normal;
    color: #02122F;
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.avatarInitials {
    font-size: 0.85rem
}


.avatarName {
    display: flex;
    align-items: center;
}


.email {
    color: #9a9a9a;
    font-size: 0.85rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8px;
}

.badgeActive {
    color: #61A6E7;
    font-size: 1.3rem !important;
}

.badgeInactive {
    color: #DDDDDD;
    font-size: 1.3rem !important;
}

.badgeInvited {
    color: #F4803F;
    font-size: 1.3rem !important;
}

.status {
    padding-left: 7px;
}

.inviteIcon {
    font-size: 1rem;
    transform: scaleX(-1) rotate(-50deg);
}

.inviteText {
    font-weight: 500;
}

.headerButtons {
    height: 30px;
    width: 136px;
}

.userAvatar {
    padding: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem !important;
}

.tableContainer{
    flex: 1;
}