.chatWrapperHeader{
  border-radius:8px 8px 0px 0px  ;
  background-color: #fff;
}

.chatContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 10px 15px;
  border-bottom: 1px solid #BBC1CD;
  height: 100%;
}

.chatIconClose {
  padding: 0;
}

.containerTitleMessenger {
  display: flex;
  align-items: center;
  gap: 7px
}

.chatIconClose:hover {
  background-color: transparent;
}

.containerSearch {
  padding: 10px 15px;
}

.wrapperSearch {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 6px 0px 7px 14px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  max-height: 30px;
}

.denotingText {
  font-weight: 600;
  color: black;
}

.titleMessenger {
  font-size: 15px;
  font-weight: 700;
  color: black;
  margin: 0;
}

.wrapperIconClose {
  padding: 0;
}

.wrapperIconClose:hover {
  background-color: transparent;
}

.wrapperSelectParticipant {
  padding: 4px 6px;
  background-color: rgba(244, 38, 110, 0.08);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.selectParticipantIconClose {
  color: black;
  font-size: 12px;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nameMember {
  font-family: 'Playfair Display' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #02122F;
}

.wrapperButtonHeader {
  display: flex;
  align-items: center;
  gap: 3px;
}
.lineIcon {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.lineIcon::before {
  display: block;
  content: '';
  width: 16px;
  height: 2.5px;
  border-radius: 4px;
  background-color: #9A9A9A;
}

.buttonIconSearch {
  padding: 0;
}

.buttonIconSearch:hover {
  background-color: transparent;
}

.iconSearch {
  fill: #999999;
  width: 19px;
}

.archiveBackContainer * {
  color: #0D2145;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
.archiveBackBack{ 
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.archiveBackTitle {
  font-family: Playfair Display;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  min-width: 175px;
  margin-right: 22px;
  
}
