.container {
  display: flex;
  flex-direction: column;
}

.subtitle {
  text-align: center;
  font-size: 1rem;
  line-height: 140%;
  font-weight: normal;
  font-style: normal;
  font-family: 'Montserrat';
  color: #02122f;
  margin-top: 8px;
}

.label {
  font-size: 0.78rem !important;
  margin-top: 12px;
  margin-bottom: 7px;
}

.switchLabel {
  font-size: 0.78rem !important;
  margin-top: 10px;
}

.uploadContainerEmpty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d9e2f3;
  border-radius: 4px;
  padding: 0.6rem;
  border-style: dashed;
  cursor: pointer;
  transition: ease all 100ms;
}

.uploadContainerEmpty:hover {
 border-color:#bcc4d3 ;
}

.uploadContainerFilled {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid #d9e2f3;
  border-radius: 4px;
  padding: 0.6rem;
  background: rgba(231, 237, 246, 0.2);
}
.audioContainer {
  flex: 1;
  display: flex;
  border:1px solid #D2D2D2;
  border-radius: 4px;
  padding: 4px 10px;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.uploadInstructions {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  margin-top: 4px;
  color: #999999;
  text-align: center;
}

.uploadContainer .highlight {
  cursor: pointer;
  color: #f4266e;
}

.transferInstructionsContainer {
  position: relative;
  ;
}

.transferInstructionsKey {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #d2d2d2;
  border-radius: 4px 0 0 4px;
  background: #f3f5f9;
}
.transferInstructionsName {
  display: flex;
  align-items: center;
  border: 1px solid #d2d2d2;
  background: #f3f5f9;
  border-left: none;
}
.minus_white {
  width: 24px;
  height: 24px;
  color: #0d2145;
  font-size: 36px;
  text-align: center;
  line-height: 17px;
  cursor: pointer;
  border-radius: 100%;
  background: #fff;
  display: block;
  position: absolute;
  right: 10px;
  top: 7px;
  border: 1px solid #d2d2d2;
}
.plus_red_small {
  width: 24px;
  height: 24px;
  font-size: 28px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  border-radius: 100%;
  color: #fff;
  background-color: #f4266e;
  display: block;
  position: absolute;
  right: 36px;
  top: 7px;
  border: 1px solid #f4266e;
}
.text-gray {
  color: #999;
}
.custom_key fieldset {
  border-radius: 0;
  background: #f3f5f9;
}
.custom_key fieldset:first-child {
  max-width: 100px;
}
.key_field {
  max-width: 100px;
}
.key_field svg {
  z-index: 9;
}
.key_field fieldset {
  border-radius: 0;
  background: #f3f5f9;
  border-color: #d2d2d2;
}
.form_control_bg fieldset {
  background: #f3f5f9;
  border-radius: 0;
  border-left: none;
  border-color: #d2d2d2;
}
.form_control_bg svg {
  z-index: 9;
}
.grid_2_container {
  margin-left: 17px;
  margin-top: 5px;
  width: 98%;
  position: relative;
}

.grid_2_container:before {
  content: '';
  width: 10px;
  border-left: 1px solid #ddd;
  position: absolute;
  left: -10px;
  top: -5px;
  height: 48px;
}
.grid_2_container:after {
  content: '';
  width: 10px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  left: -10px;
  top: 20px;
  height: 2px;
}
.main_grid_list .grid_2_container:last-child:before {
  height: 27px !important;
}

.main_grid_list .sub_grid_list .grid_2_container:last-child:before {
  height: 27px !important;
}

.sub_grid_list {
  margin-left: 17px;
  margin-top: 5px;
  width: 98%;
  position: relative;
}
.sub_grid_list:after {
  content: '';
  width: 10px;
  border-left: 1px solid #ddd;
  position: absolute;
  left: -10px;
  top: -5px;
  height: 104%;
}

.ivrChildButtonContainer {
  position: relative;
}

.mainContainer {
  margin-top: 10px;
  border-radius: 4px;
  position: relative;
}

.subContainer {
  margin-left: 17px;
  margin-top: 5px;
  position: relative;
}

.subContainer > div:before,
.subContainer > div:before {
  content: '';
  width: 10px;
  border-left: 1px solid #ddd;
  position: absolute;
  left: -10px;
  top: -10px;
  height: 122%;
}

.subContainer > div:after,
.subContainer >div:after {
  content: '';
  width: 10px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  left: -10px;
  top: 20px;
  height: 2px;
}
.subContainer div:last-child:before,
.subContainer div:last-child:before {
  height: 31px;
  
}

.subContainer:first-child div:last-child:before,
.subContainer:first-child div:last-child:before {
  height: 31px;
  border-color: red;
  
}

.playPause {
  font-size: 2.42rem !important;
  color: #F4266E;
  cursor: pointer;
}
.ivr_name{font-size:16px;font-weight: 500;margin-left: 7px;}
.icon_sec_audio{max-width: 120px;}

.skeletonContainer{
  display: flex;
  flex-direction: column;
}

.skeletonPrimary{
  background-color: #f3f3f3;
}

.skeletonCircle{
  margin: 10px 0px 10px 0px;
  align-self: flex-end;
}

.skeleton{
  margin-top: 10px;
}

.rowError{
  border: 1px solid #f84434;
}

.ivrLabels{
  margin-left: 1em;
  margin-bottom: 0.25em;
  color: #999;
}