.container {
  display: flex;
  flex-direction: column;
}

.selectedMembersCount {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #999999;
}

.disabled {
  opacity: 0.75;
}
