.container {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.25em;
  color: #0d2145;
}

.headerSubtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 2em;
  color: #02122f;
}
.tabbingRadio {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}
.tabbingRadio label {
  margin-right: 20px;
  font-size: 14px;
  line-height: 17px;
  min-width: 130px;
  color: #02122f;
}
.tabbingRadio label input {
  margin-right: 10px;
}
