.Calendar__day.-ltr {
    background-color: #f0f3f8;
    margin: 1px;
    border-radius: 3px;
    min-width: 32px;
    min-height: 32px;
    color: #02122f;
    font-size: 14px;
    font-weight: 400;
  }
  .Calendar__day.-ltr.-selectedStart {
    background: #f4266e;
    color: #fff;
  }
  .Calendar__day.-ltr.-selectedEnd {
    background: #f4266e;
    color: #fff;
  }
  .Calendar__day.-selectedBetween {
    margin: 0px;
    background-color: #f5dbe5;
    min-width: 32px;
    min-height: 32px;
    border-radius: 0;
    padding: 1px;
  }
  .Calendar__monthYear {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #02122f;
  }
  .Calendar__weekDay {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #02122f;
  }

  .Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween){
    background-color: #FBF0F4;
  }
  .Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween)::after{
    opacity: 0;
  }
  .Calendar__day:not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween):not(.-selected):hover {
    background: #f5dbe5;
    border-radius: 0;
    color: #02122f;
}