.formRoot {
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    padding: 2rem;
}

.inputField {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #999999;
    border-bottom: 1px solid #D2D2D2;
}

.inputField .inputBox {
    flex: 1;
}

.columnLabel {
    color: #02122F;
    font-size: 1rem;
    font-weight: 500;
}

.columnsContainer {
    padding: 2px;
    max-height: 250px;
    overflow: auto;
}

.deleteColumnBtn {
    min-width: 0px;
    padding: 0px;
    color: #999999;
    font-weight: normal;
}