.awayGreetingItems {
    display: flex;
    flex-direction: column;
}

.awayGreetingSingleGreeting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.awayGreetingActions {
    display: flex;
    align-items: center;
}

.action {
    cursor: pointer;
    margin-right: 20px !important;
}

.playPause {
    font-size: 2.42rem !important;
    color: #F4266E;
    cursor: pointer;
}

.divider {
    margin: 1rem 0rem 1rem 0rem !important;
}

.select {
    margin-right: 2.14rem !important;
}

.selectDefault {
    margin-right: 4.5rem !important;

}

.selected {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 3.75rem !important;
}

.selectedDefault {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 4.5rem !important;
}


.createNewGreetingButton {
    display: flex;
    justify-content: flex-end;
}

.empty {
    color: #999999;
}

.menuItem {
    font-size: 0.85rem !important;
    color: #02122F !important;
}