.calenderRangeStartEnd {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    margin: 0px !important;
  }
  
  .dateRangeFilter {
    width: 100%;
    border-left: 1px solid #D2D2D2;
    height: 286px;
  }
  .calenderWrapper {
    border-left: 1px solid #D2D2D2;
  border-bottom: 1px solid rgb(210, 210, 210);
  }
  
  .dateText{
    font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  padding-left: 0px;
  /* Text_gray */
  margin-top: .35em;
  
  color: #999999;
  }
  
  .todaysDate{
    background-color: #FBF0F4;
  }