.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F0F3F8;
    overflow-y: auto;
}

.menuContent {
    align-self: center;
    padding: 2rem 3rem;
}

.title {
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: #02122F;
    text-align: center;
    margin: 2rem 1rem;
}

.subTitle {
    font-family: "Montserrat";
    font-size: 0.85rem;
    color: #999999;
    text-align: center;
    margin: 2rem 1rem;
}

@media only screen and (min-width: 768px) {
    .menuContent {
        width: 768px;
    }

    .title,
    .subTitle {
        margin: 2rem 4rem;
    }
}