.container {
  border: solid 1px #ffffff;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0.5px 2px 0.5px rgba(30, 31, 35, 0.08);
  border-radius: 8px;
  margin: 1rem 0;
}

.patientDetails {
  padding: 1.8rem 2.2rem;
}


.patientDetails .contactDetails {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #02122f;
  padding-left: 0.5rem;
}

.container .formsAccordion {
  background-color: rgb(240, 243, 248, 0.2) !important;
  border-radius: 0px 0px 8px 8px;
  padding: 0 1.6rem;
}

.container .formsAccordion>div {
  opacity: 1;
}

.formsAccordion .accordionSummary {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #02122f;
}

.expandIcon {
  background: #F0F3F8 !important;
  border-radius: 10% !important;
  width: 40px;
  height: 24px;
}

.anchorBtn:hover {
  text-decoration: none;
}