.container {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin: 1rem 0 0.25em;
  color: #0d2145;
}

.headerSubtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 2em;
  color: #02122f;
}
.tabbingRadio {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}
.tabbingRadio label {
  margin-right: 20px;
  font-size: 14px;
  line-height: 17px;
  min-width: 130px;
  color: #02122f;
}
.tabbingRadio label input {
  margin-right: 10px;
}

.recorderContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid #d9e2f3;
  border-radius: 8px;
  padding: 0.6rem;

  min-height: 102px;
  flex-direction: column;
}

.headerButtons {
  height: 30px;
  width: 136px;
}

.tableContainer {
  position: relative;
  height: 400px;
  margin-bottom: 30px;
}

.searchIcon {
  color: '#999999';
  height: '25px';
  marginleft: '10px';
}
.searchIcon path {
  fill: #999999 !important;
}
.searchInput {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  background: #ffffff;
  /* Stroke */

  border: 1px solid #d2d2d2;
  border-radius: 4px;
  margin-bottom: 0.25em;
}
.timeSlotCheckbox {
  display: flex;
  align-items: center;
}
.containerSkeleton {
  display: flex;
  padding: 1rem;
  width: 100%;
}
.titleText {
  text-align: center;
  color: #0d2145;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Playfair Display';
}
