.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.headerContainer {
    font-family: "Playfair Display";
    padding: 1rem 1.42rem;
}

.headerContainer .headerText {
    font-weight: bold;
    font-size: 1.86rem;
    color: #02122F;
}

.subHeaderContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1.42rem;
}

.subHeaderText {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1.1rem;
    color: #0D2145;
    margin: 1rem 0rem;
}

.addTaskButton {
    color: #F4266E !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    font-family: "Montserrat" !important;
    text-transform: none !important;
    padding: 0px !important;
    cursor: pointer;
    user-select: none;
}

.tasksContainer {
    padding: 0rem 1.42rem;
}