.root {
    display: flex;
    z-index: 1;
    font-family: "Montserrat";
}

.selectMenu {
    cursor: pointer;
    user-select: none;
}

.menuItem {
    font-size: 0.85rem !important;
    color: #02122F !important;
}

.menuItemIcon {
    margin-right: 0.5rem;
}

.menuItemIcon svg {
    height: 1rem;
    width: 1rem;
}

.confirmationRoot {
    display: flex;
    flex-direction: column;
}

.confirmationSubtitle {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #02122F;
    margin-top: 10px;
}