.form {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.form_control {
  display: flex;
  align-items: center;
  justify-content: space-between !important
}

.icons {
  color: #9A9A9A;
  margin-right: 10px;
  font-size: 14px;
}

.text {
  font-size: 14px;
  line-height: 17px;
  color: #02122F;
  font-weight: 500;
}

.switch {
  border-radius: 18px;
}

.line {
  margin-top: 27px;
  border-bottom: 1px solid #9a9a9a;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  top: 367px;
}

.notification_popup {
  padding: 0px !important;
  justify-content: space-between;
  /* display: flex; */
  align-items: center;
  margin-top: 1rem;
}

.notification {
  padding: 0px !important;
}

.arrow {
  font-size: 14px;
}

.link {
  color: #FFFFFF;
}

.notification_error {
  padding: 0px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
  background-color: #FEA828;
}

.notification_popup1 {
  padding: 0px !important;
  justify-content: space-between;
  /* display: flex; */
  align-items: self-start;
}

.alertStrip {
  margin: 15px 0 20px;
}

.switchAlign {
  margin: 19.5px 0;
}

.notifyWrapper {
  margin-left: 67px;
  margin-right: 67px;
  margin-bottom: 25px;
}

.notifyWrapper1 {
  margin-left: 67px;
  margin-right: 67px;
}

.radioMargin {
  margin: 0px;
}


.label {
  margin: 0px !important;
}

.muteIcon {
  margin-right: 5px;
  width: 25%;
}

.iconNone {
  display: 'none',
}

.arrow1 {
  margin-top: 0px !important;
  font-size: 14px;
}

.indefinite {
  color: gray;
  margin-top: 11px;
}

.muteName {
  margin-top: 10px;
  font-weight: 500;
}
.formControlLabel{
  font-weight: 500;
}

.marginTop15{
  margin-top: 15px;
}
