.root {
  overflow: hidden;
}

.listContainer {
  border-right: 1px solid #bbc1cd;
  display: flex;
  max-width: none !important;
}

.detailsPane {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1.2rem 2rem;
}

.headerContainer {
  border-bottom: 1px solid #bbc1cd;
  padding-bottom: 1.2rem;
}

.bodyContainer {
  display: fkex;
  padding-top: 1.2rem;
  height: 100%;
}
