.group {
    padding: 1.5rem 2rem;
    text-decoration: none !important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.92rem;
    color: #02122F !important;
    border-bottom: 1px solid #BBC1CD;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}