.micIcon {
  color: white !important;
  background: #f4266e !important;
  height: 4rem !important;
  width: 4rem !important;
  padding: 1rem;
  border-radius: 50% !important;
}
.playerContainer {
    width: calc(100% - 4rem);
}

.hidden {
    display: none;
}
