.appointmentContent {
    display: flex;
    flex-direction: column;
}

.paper {
    padding: 5px 10px 10px 10px;
    border-radius: 3px !important;
    /* height: 90px; */
    border-left: 5px solid #5A9B68;
}

.moreIcon {
    align-self: flex-end;
    color: #9A9A9A;
}

.mainContent {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.docHygName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.21rem;
    color: #02122F;
}

.appointmentTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.21rem;
    color: #02122F;
    margin-top: 8px;
}

.confirmed {
    margin-top: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.21rem;
    color: #5A9B68;
}