.wrapperParticipantMessage {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 7px;
  align-self: start;
}

.dataMessage {
  display: flex;
  flex-direction: column;
}

.nameParticipant {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #9A9A9A;
}

.indentsDown {
  margin-top: 16px;
}
