.messageRow {
  margin: 10px 0px 0px 0px;
  display: flex;
}

.messageContent {
  width: 80%;
}

.messageTextWrapper {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageText {
  padding: 9px 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  background: #F5DBE5;
  border-radius: 0px 10px 10px 10px;
  color: #000000;
  white-space: pre-wrap;
  max-width: 100%;
}

.messageTime {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  color: #9A9A9A;
  line-height: 140%;
  margin-top: 0.5rem;
  /* text-transform: lowercase; */
}

.reactionsWrapper {
  display: flex;
  position: relative;
  width: min-content;
  top: -10px;
  right: -8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #9A9A9A;
}

.messageMessengersButtons * {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #9A9A9A;
}
.messageMessengersButtons {
  margin-left: 5px;
}

.MuiList-padding {
  padding: 0;
}




