.container {
    border: 0.5px solid #D9E2F3;
    border-radius: 5px;
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
}

.details .title {
    font-size: 0.86rem;
    font-weight: normal;
    color: #02122F;
}

.details .fieldLabel {
    font-size: 0.7rem;
    font-weight: normal;
    color: #02122F;
}

.details .fieldValue {
    font-size: 0.7rem;
    font-weight: 500;
    color: #02122F;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:not(:first-child) {
    border-left: 0.5px solid #D9E2F3;
}

.itemIcon {
    height: 1rem !important;
    width: 0.85rem !important;
}

.itemIcon>path {
    fill: #02122F;
}

.item>button {
    min-width: 0px;
    flex: 1;
    border-radius: 0px;
}

.qrCodeContainer {
    gap: 2rem;
}