.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.subtitle {
  text-align: center;
  font-size: 1rem;
  line-height: 140%;
  font-weight: normal;
  font-style: normal;
  font-family: 'Montserrat';
  color: #02122f;
  margin-top: 8px;
}
