.root {
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  padding: 1rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 1.86rem;
  font-style: normal;
  color: #02122f;
  display: flex;
  justify-content: space-between;
}

.subHeader {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #02122f;
  line-height: 140%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.disabled {
  color: #999999;
}

.tableContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tableContainer > .statusTable {
  height: 400px;
}

.tableContainer > .additionalSettingsTable {
  flex-basis: 225px;
}
