.ConfigureLinesWrapper {
  display: flex;
  margin-top: 4em;
  width: 100%;
  min-width: 500px;
  max-width: 600px;
}

.lineLabelsContainer {
  min-width: 50px;
  color: #999999;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.configureLinesContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 246px;
  background-color: #f0f3f8;
  border: 1px solid #d9e2f3;
  margin: 0 12px 0px 12px;
}

.configureLinesHeader {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0px 13px;
  border-bottom: 1px solid #d9e2f3;
}

.configureLinesContent {
  display: flex;
  flex-grow: 1;
}

.configureLinesFooter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 36px;
  border-top: 1px solid #d9e2f3;
}

.lineItemsColumn {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}

.phoneLabel {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #566f9f;
  opacity: 0.2;
  margin-left: 1em;
}

.footerDivider {
  width: 1px;
  height: 26px;
  background: #566f9f;
  opacity: 0.2;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  color: #566f9f;
  opacity: 0.2;
}

.textSmall {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #566f9f;
  opacity: 0.2;
}

.changePageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 30px;
}

.changePageButton {
  font-size: 8px;
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
