.card {
  background: #ffffff;
  border-radius: 0px !important;
  border-bottom: 1px #BBC1CD solid;
}

.selectedCard {
  background: #0D2145;
  border-radius: 0px;
  border-bottom: 1px #293D63 solid;
}

.selectedCard > div {
  border-left: 3px #F4266E solid;
}

.searchIcon {
  color: #D2D2D2;
  height: 25px;
}

.InputBase {
  background: #ffffff;
  width: 90%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-left: 8px;
  opacity: 0.8;
}

.newSmsBtn {
  padding: 1rem;
  background: #243656;
  border-bottom: 1px solid #293D63;
}

.unseenSmsBtn {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: Montserrat;
  cursor: pointer;
  color: #000000;
  background-color: #d9e2f3;
}

.refreshIcon {
  color: #cccccc;
  cursor: pointer;
}

.refreshSpinner {
  height: 1rem !important;
  width: 1rem !important;
  color: #cccccc;
};


.menuListItem {
  align-items: center;
}

.listItemIcon {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.listItemText {
  margin-top: 0;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.iconContainer button {
  padding: 0;
}
