.cst-info .MuiToggleButton-root.Mui-selected {
    background-color: #D9E2F3;
    border: 1px solid #293D63;
}

.cst-info .MuiToggleButtonGroup-root {
    display: inline;
}

.cst-info .MuiToggleButton-root {
    /* width: 9rem !important; */
    height: 2.5rem;
}

.cst-any .MuiToggleButton-root:hover {
    background-color: #FBF0F4;
}

.cst-any-selected .MuiToggleButton-root.Mui-selected {
    border-radius: 10px;
    height: 20px;
    margin-top: 18px;
    background: #FBF0F4;
    border: 1px solid #F4266E;
    color: #F4266E;
}

.cst-grey-select .MuiSelect-outlined.MuiSelect-outlined {
    color: #999999;
}

.cst-other-select .MuiSelect-outlined.MuiSelect-outlined {
    color: #02122F;
}