.root {
    background-color: #ffffff;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1.86rem;
    font-style: normal;
    color: #02122F;
    display: flex;
}

ul {
    padding-inline-start: 20px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infoTextMain {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 1rem;
    color: #02122F;
    padding-bottom: 0.2rem;
    line-height: 1.42rem;
    margin: 20px 0px;
}

.infoText {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 1rem;
    color: #02122F;
    padding-bottom: 0.2rem;
    line-height: 1.42rem;
}

.lockIcon {
    margin-bottom: 4px;
    font-size: 16px;
}