.wrapperChatBubbles,
.bubblesContainer {
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  right: 21px;
  max-width: 75px;
  width: 100%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
  gap: 10px;
  transition: all 400ms;
}

.containerChatBubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
}
.containerChatBubble::-webkit-scrollbar {
  width: 0;
}

.wrapperChatBubbles {
  padding: 10px 0px;
}


.bubblesContainer {
  bottom: 54px;
}

.wrapperChatBubbles:hover {
 background-color: #9A9A9A;
 max-height: 390px;
}

.wrapperChatBubbles:hover .bubblesContainer {
  position: static;
}

.wrapperChatBubbles:hover .closeAll {
  display: inline-block;
}

.wrapperChatBubbles:hover .chatInfoOnline,
.wrapperChatBubbles:hover .chatInfoAvatar {
  visibility: visible;
}

.closeAllLabel {
  max-width: 52px;
  margin: 0 auto;
}

.closeAll {
  display: none;
  padding: 2px 0px;
  background-color: #E6EBF4;
  border-radius: 16px;
  font-weight: 600;
  font-size: 8px !important;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase !important;
  color: #243656;
}

.closeAll:hover {
  background-color: #E6EBF4;
}

.bubbles {
  width: 58px;
  height: 64px;
  position: relative;
  cursor: pointer;
}

.bubbles:hover .iconCloseBubbles {
  display: block;
}

.button {
  z-index: 1000;
  position: relative;
  background-color: white;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px;
  padding: 0;
}

.button:hover {
  background-color: white;
  box-shadow: 0px 0px 2px !important;
}

.iconChat {
  color: #9A9A9A;
  font-size: 25px;
}

.iconClose {
  color: #fff;
  font-size: 15px;
}

.iconCloseBubbles {
  background-color: #F4266E;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  display: none;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 0;
}

.iconCloseBubbles:hover {
  background-color: #F4266E;
}

.chatInfoOnline{
  bottom: 10px;
  right: 4px;
  visibility: hidden;
}

.chatInfoAvatar {
  bottom: 2px;
  right: 1px;
  visibility: hidden;
}

.activeCloseAll {
  display: inline-block;
}

.activeBubblesContainer {
  position: static;
}

.activeChatInfo {
  visibility: visible;
}

.activeWrapperChatBubbles {
  max-height: 390px;
}
