.messageRow {
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.messageContent {
  width: 80%;
}

.messageTextWrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

.messageText {
  padding: 9px 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  background: #D9E2F3;
  border-radius: 10px 0px 10px 10px;
  color: #000000;
  white-space: pre-wrap;
  max-width: 100%;
}

.messageTime {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  color: #9A9A9A;
  line-height: 140%;
  float: left;
  display: flex;
  margin-left: auto;
}

.messageStatus {
  color: #566F9F;
  line-height: 140%;
  float: left;
  display: flex;
  margin-left: auto;
}

.messageInfoWrapper {
  line-height: 140%;
  margin-top: 0.5rem;
  align-items: flex-end;
  float: left;
  display: flex;
  gap: 5px;
  margin-left: auto;
  margin-top: 0.5rem;
}

.reactionsWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  bottom: -10px;
}

.reactions {
  display: flex;
  width: min-content;
}


