
.subTitleText {
    font-family: "Montserrat";
    font-size: 1rem;
    text-align: center;
    color: #02122F;
    margin-bottom: 2rem;
}
.formOuterContainer{
    width: 100%;
    background: #f1f1f1;
    border: 1px solid #C4C4C4;
}

.formOuterContainer > div{
    background: #fff;
    min-width: 527px;
    max-width: 560px;
    margin: 0 auto;
    padding: 30px;
}
.formOuterContainer > div > div{
    padding: 30px;
}
.FilledText{
    font-family: "Montserrat";
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #999999;
}
.count{
    color: #02122F;
}
.mrTop{
    margin-top: 42px;
}