.uploadContainer {
  height: 15rem;
  width: 15rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 26px; */
  border: 2px dashed #D9E2F3;
  border-radius: 8px;
  /* background: rgba(231, 237, 246, 0.2); */
  /* padding: 1rem; */
}

.uploadInstructions {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  margin-top: 10px;
  color: #999999;
  text-align: center;
}

.uploadContainer .highlight {
  cursor: pointer;
  color: #F4266E;
}

.hidden {
  display: none;
}

.avatarContainer {
  flex: 1;
  display: flex;
  align-items: center;
  height: 15rem;
  width: 15rem;
}

.avatar {
  border: 1px solid #D9E2F3;
  box-sizing: border-box;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  max-height: 15rem;
  max-width: 15rem;
  object-fit: contain;
}

.officeImageRootContainer {
  display: flex;
  flex-direction: row;
}

.officeImageActionText {
  cursor: pointer;
  margin-left: 10px;
  font-family: "Montserrat";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71rem;
  letter-spacing: 0em;
  color: #02122F;
}

.confirmationRoot {
  display: flex;
  flex-direction: column;
}

.confirmationSubtitle {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #02122F;
  margin-top: 10px;
}