.formio-form .custom-form-title {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1.85rem;
    color: #02122F;
    padding-bottom: 2rem;
}

.formio-form .col-form-label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 0.78rem;
    text-transform: uppercase;
    color: #02122F;
}

.formio-form .custom-form-label {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.28rem;
    color: #02122F;
    padding: 1rem 0rem;
}

.formio-form .custom-form-label.custom-form-field-required::after {
    padding-left: 0.5rem;
    content: "*" !important;
    color: #F4266E !important;
}

.alert-danger {
    display: none !important;
}

.formio-form .formio-error-wrapper,
.formio-form .formio-warning-wrapper {
    background-color: transparent !important;
    padding: 0px !important;
}

.formio-form .control-label--hidden {
    display: none;
}