@import url('button.css');
@import url('tag.css');
@import url('dropdown.css');
@import url('checkbox.css');
@import url('radio.css');
@import url('form-field.css');
@import url('signature.css');

.form-root {
  height: calc(100vh - 64px) !important;
  overflow: hidden;
  display: flex;
  flex: 1;
}

.form-root .container {
  border: 1px solid #bbc1cd;
}

.form-root .formBuilder {
  flex: 2;
}

.form-root .jsonViewer {
  flex: 1;
}

.form-root button:not(.MuiAutocomplete-*) {
  color: #ffffff !important;
  background-color: #f4266e !important;
  border: 2px solid #f4266e !important;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  min-width: 100px;
  box-shadow: none;
  padding: 5px 5px;
}
