.formio-form .form-check-inline {
    margin-right: 2rem !important;
}

.formio-form input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.formio-form input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.formio-form input[type="radio"]+span {
    font: 1rem "Montserrat";
    color: #000;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.formio-form input[type="radio"]+span:before {
    font: 14pt FontAwesome;
    content: "\f1db";
    display: inline-block;
    width: 14pt;
    padding: 2px 0 0 3px;
    margin-right: 0.5em;
}

.formio-form input[type="radio"]:checked+span:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.75' y='0.75' width='14.5' height='14.5' rx='7.25' fill='white' stroke='%2302122F' stroke-width='1.5'/%3E%3Crect x='3' y='3' width='10' height='10' rx='5' fill='%23F4266E'/%3E%3C/svg%3E%0A")
}

.formio-form input[type="radio"]:disabled+span {
    color: #999;
}

.formio-form input[type="radio"]:not(:disabled)+span:hover:before {
    text-shadow: 0 1px 2px #999;
}