.formio-form .signature-pad-body {
    border: 1px solid #D2D2D2;
    border-radius: 4px;
}

.formio-form .signature-pad-body .signature-pad-refresh {
    align-self: flex-end;
    padding: 1rem 0.5rem;
    background-color: transparent !important;
    border: 0px !important;
    color: #F4266E !important;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
    position: absolute;
    width: 15%;
    left: 85%;
    height: 10%;
    top: 70%;
}

.formio-form .signature-pad-body .signature-pad-refresh i {
    display: none;
}

.formio-form .signature-pad-body .signature-pad-refresh::before {
    content: "Clear";
}

.formio-form .signature-pad-body:focus,
.formio-form .signature-pad-body:active {
    outline: 0px solid #D2D2D2;
}

.formio-form .signature-pad-footer {
    display: none;
}

.formio-form .signature-pad.has-message .signature-pad-body {
    border: 1px solid #dc3545;
}

.formio-form .signature-pad-canvas {
    border: none;
}