.iconButton {
  background-color: white;
  padding: 0;
}
.iconButton:hover {
  background-color: transparent;
}

.iconButtonSentimentSatisfiedAlt {
  padding-left: 5px;
}

.iconButtonMoreHoriz {
  padding-left: 5px;
}
