.calendarContainer {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    /* margin-left: -3rem; */
    /* margin-right: -2rem; */
}

.timeSlotsContainer {
    margin-top: 1rem;
    /* margin-left: -2.5rem; */
    max-height: 382px;
    overflow: auto;
}

@media only screen and (max-width: 961px) {
    .timeSlotsContainer {
        display: flex;
    }

    .timeSlotsContainer div {
        margin: 4px !important;
    }
}

.noSelectionContainer {
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    width: 100%;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 0px;
}

.selectionContainer {
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    width: 100%;
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 30px;
}

.appointmentInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timePractitionerName {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 500;
    color: #02122F;
}

.practitionerType {
    margin-top: 5px;
    font-family: "Montserrat";
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1rem;
    color: #999999;
}

.noProviderSelection {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.21rem;
    color: #999999;
    padding: 0rem 0.4rem;
}

.bookingInfo {
    display: flex;
    flex-direction: column;
}