.counter {
    font-family: Montserrat;
    width: 18px;
    height: 14px;
    position: absolute;
    top: 6px;
    left: 14px;
    background: #FF0000;
    border: 1px solid #243656;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}