.header {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 1.85rem;
    line-height: 2.5rem;
    text-align: center;
    color: #0D2145;
}

.container {
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
    text-align: center !important;
    color: #02122F;
}

.sections {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.28rem;
    line-height: 160%;
    color: #02122F;
}

.sectionContent {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 1.14rem;
    line-height: 160%;
    color: #02122F;
    margin-top: 5px;
}