.rhap_container {
  box-shadow: none;
  background-color: inherit;
  padding: 0;
  width: 50px;
}

button.rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button {
  margin: 0;
}

.rhap_main-controls button svg path {
  color: #F4266E;
}

.activityLogAction .rhap_container {
  box-shadow: none;
  background-color: #F0F3F8;
}

.activity-log-voicemail-playback {
  box-shadow: none;
  background-color: inherit;
  padding: 0;
}

.rhap_controls-section {
  display: block;
}

.rhap_main-controls {
  display: block;
}

.activity-log-voicemail-playback svg path {
  color: #F4266E;
}

.audio-play-pause-text {
  width: 100px;
}
