.root {
    height: calc(100vh - 64px);
    overflow: hidden;
    background-color: #ffffff;
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1.86rem;
    font-style: normal;
    color: #02122F;
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #02122F;
    padding: 1rem 0rem;
}

.headerButtons {
    height: 30px;
}

.tableContainer {
    flex: 1;
}

.insuranceName {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.editInsurance {
    margin-top: 1rem;
    width: 200px;
    align-self: flex-end;
}