.archiveBack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 305px;
  min-height: 59px;
  padding: 0 15px;
  border-bottom: 1px solid #BBC1CD;
  cursor: pointer;
}

.archiveBack__container * {
  color: #0D2145;
  font-size: 17px;
  font-weight: 700;
}

.archiveBackTitle {
  font-family: Playfair Display;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  min-width: 175px;
  margin-right: 22px;
  
}

.archiveBackBack{ 
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
