.label {
  font-family: 'Montserrat';
  font-size: 0.8rem !important;
  word-break: break-word;
  color: #02122f;
  text-transform: uppercase;
}

.printOnly {
  display: none !important;
}

.deletePaddingTop > div > div {
  padding-top: 0 !important;
}
.deletePaddingTop > div > input {
  padding-top: 6.2px !important;
}

@media print {
  .noPrint {
    display: none !important;
  }

  .printOnly {
    display: block !important;
    font-family: 'Montserrat';
    font-size: 1rem !important;
  }
}
