/*online-scheduling*/
.root {
    height: calc(100vh - 64px);
    overflow: hidden;
    background-color: #ffffff;
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2rem;
}

.headerTitle {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1.86rem;
    font-style: normal;
    color: #02122F;
}

.titles {
    margin-right: 1rem;
}

.info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #02122F;
    padding: 1rem 0rem;
}

.headerButtons {
    justify-content: flex-end;
    display: flex;
}

.displayNameInputContainer {
    display: flex;
    align-items: center;
}

.menuItem {
    font-size: 0.85rem !important;
    color: #02122F !important;
}

.userAvatar {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem !important;
}

.tableContainer {
    flex: 1;
}

.displayName,
.procedureGroup,
.timeInterval {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    word-break: break-word;
}

.pencilIcon {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.buttonColumn {
    display: flex;
    /* margin-top: 5px; */
    flex-direction: column;
}

.editInsurance {
    margin-top: 1rem;
}

.delete {
    cursor: pointer;
}

.avatar {
    background-color: #ffffff !important;
}

.disabled {
    opacity: 0.75;
}

.popper {
    margin-top: 0.25rem;
    z-index: 10;
}