.addRecipientContainer {
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    color: #0D2145;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sectionSubTitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 0.85rem;
    color: #999999;
    margin-bottom: 1rem;
}

.addRecipientBox {
    background: #F0F3F8;
    opacity: 0.8;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1rem 1.2rem;
}

.inputBoxLable {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 0.78rem;
    text-transform: uppercase;
    color: #999999;
    padding-bottom: 5px;
}

.inputBox {
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 4px;
}

.superScript {
    color: #F4266E;
    font-size: 1rem;
    vertical-align: text-bottom;
}

.recipientListLabel {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 0.78rem;
    text-transform: uppercase;
    color: #999999;
    margin-right: auto;
}

.openContactLink {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #F4266E;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.disabledContactLink {
    cursor: default;
    pointer-events: none;
    filter: grayscale(100%);
    color: #999999;
}

.coverLetterContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    padding: .8rem 1.3rem;  
    margin-top: 1.3rem;
}

.coverLetterLabel{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-left: 1rem;
}

.addCoverLetterButton{
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    color: #F4266E;
    border-radius: 4px;
    padding: 0.5rem 0.8rem;
}

.uploadContainer{
    padding: .7rem;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 2px dashed #D9E2F3;
    border-radius: 8px;
}