.container {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.25em;
  color: #0d2145;
}

.headerSubtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 2em;
  color: #02122f;
}
.tabbingRadio {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}
.tabbingRadio label {
  margin-right: 20px;
  font-size: 14px;
  line-height: 17px;
  min-width: 130px;
  color: #02122f;
}
.tabbingRadio label input {
  margin-right: 10px;
}

.recorderContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid #d9e2f3;
  border-radius: 8px;
  padding: 0.6rem;

  min-height: 102px;
  flex-direction: column;
}
.autoSizeTextBox {
  width: 100%;
  resize: none;
  margin: 1rem 0.5rem !important;
  border: 0px;
  font-size: 1rem;
  background-color: #fff;
}

.textArea {
  padding: 7px 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  border: none;
}
.action {
  cursor: pointer;
  margin-left: 20px !important;
}
.action path {
  fill: #9a9a9a;
}
.actionIcons {
  box-sizing: border-box;

  background: #ffffff;
  /* Stroke */

  height: 46px !important;
  border: 1px solid #d2d2d2 !important;
  border-radius: 4px;
}

.actionIcons svg {
  height: 36px;
  width: 36px;
}
.actionIcons path {
  fill: #f4266e;
}
.label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  /* secondary test */

  color: #02122f;
}
.titleText {
  text-align: center;
  color: #0d2145;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Playfair Display';
}
