.addPatientContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionTitle {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    color: #0D2145;
    margin-bottom: 1rem;
}

.subtitle {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #02122F;
}

.headingText {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    color: #0D2145;
}

.daysName {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #02122F;
}

.buttonGroup {
    background: #D9E2F3;
    border: 1px solid #293D63;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #0D2145;
}

.time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #999999;
}

.micIcon {
    color: white !important;
    background: #F4266E !important;
    height: 4rem !important;
    width: 4rem !important;
    padding: 1rem;
    border-radius: 50% !important;
    margin-top: 1rem;
}

.startRecord {
    color: #F4266E;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.box {
    display: flex;
    justify-content: center;
}

.playPause {
    font-size: 3.5rem !important;
    color: #F4266E;
    cursor: pointer;
}