.root {
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.taskCategoriesContainer {
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #bbc1cd;
  display: flex;
  flex-direction: column;
}

.taskListContainer {
  background-color: #f0f3f8;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #bbc1cd;
  display: flex;
  flex-direction: column;
}

.taskInfoContainer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
