.container {
    display: flex;
    flex-direction: column;
}

.subtitle {
    text-align: center;
    font-size: 1rem;
    line-height: 140%;
    font-weight: normal;
    font-style: normal;
    font-family: "Montserrat";
    color: #02122F;
}

.messagePreview {
    background: #F0F3F8;
    min-height: 64px;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 4px;
}

.footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.labelText {
    font-family: "Montserrat";
    font-size: 11px;
    font-weight: 400;
    color: #999999;
}
.reminderTypeLabelText {
    font-family: "Playfair Display";
    font-size: 15px;
    font-weight: 700;
    color: #02122F;

}
.px55 {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important;
}
.px25 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}
.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.selectedButton{
background-color: #D9E2F3 !important;
}
.paddingTop10{
    padding-top: 10px;
}
.customMarginEmailSubject > div:first-child{
    margin-top: 0px !important;
}