.userListContainer {
    height: 160px;
    padding-right: 2px;
}

.userItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

.userItem svg {
    height: 1rem;
    width: 1rem;
}

.userItem:hover {
    background-color: #566F9F33;
}

.selectedUserItem {
    background-color: #566f9f88;
    /* font-weight: bold; */
}

.searchBoxContainer {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    color: #FFFFFF;
}

.searchText input {
    font-family: "Montserrat";
    font-size: 1rem;
    color: #FFFFFF;
}

.searchBoxIcon {
    font-size: 1.5rem !important;
    margin-right: 4px;
    opacity: 0.5;
}