.container,
.wrapperTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.dialogContent {
  margin: 32px;
  min-width: 632px;
}

.container {
  gap: 17px;
}

.wrapperTable {
  gap: 10px;
}

.photoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #BBC1CD;
}

.photoPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: #F0F3F8;
  border: solid 1px #BBC1CD;
  ; 
}

.uploadPhotoContainer {
  display: flex;
  min-height: 26px;
  gap: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  align-items: center;
  color: #02122F;


}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 13px;
  width: 100%;
  flex-direction: row;
}

.crossButton {
  font-weight: 900;
  color: #9A9A9A;
}

.checkedButton {
  font-weight: 900;
  color: #3BAA53;
}

.iconAdd {
  color: #02122F;
}

.inputBlockContainer {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
}

.labelGroupName {
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}

.iconButton {
  padding: 0;
}

.iconButton:hover {
  background-color: transparent;
}

.containerButtonAdd {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #02122F;
}

.addButtonPeople {
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #D2D2D2;
}

.wrapInputGroupName {
  border:0px;
}

.inputGroupName {
  background-color: #F8F8F8;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  color: #999999;
  padding: 9px 10px;
}

.editIcon { 
  width: 20px;
  height: 20px;
  color:#9A9A9A;
}

.deleteIcon {
  color:#9A9A9A;
}

.buttonContainer {
  margin-top: 13px;
  display: flex;
  justify-content: start;
  gap: 15px;
  flex: 15%;
}

.buttonMore {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #F4266E;
}

.titleTable {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  color: #0D2145;
  display: flex;
  align-items: center;
  gap: 4px;
}

.titleQuantity {
  margin-bottom: 4px ;
}

.containerTitleQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableRow {
  display: flex;
  justify-content: space-between;
}

.tableCell {
  padding: 10px 13px;
  display: flex;
  align-items: center;
}

.tableCellButtonAdd {
  cursor: pointer;
}

.tableCellName {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #02122F;
  flex: 1;
  display: flex;
  gap: 9px;
  align-items: center;
}

