.patient-forms-tabs .MuiTab-root {
  min-width: 120px;
  height: 100%;
}

.patient-forms-tabs {
  height: 100%;
}

.patient-forms-tabs .MuiTabs-flexContainer {
  align-items: center;
  justify-content: space-evenly;
}

.tab-label-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 10px;
  background-color: #566f9f;
  border-radius: 3px;
  font-size: 7.5px;
  color: #ffffff;
  margin: 0 0 0 4px;
}

.patient-forms-tabs .tab-panel-container {
  padding: 0;
  overflow-x: clip;
}

.patient-forms-tabs .context-menu {
  margin: -0.5rem 0.7rem 0 auto;
  color: #9a9a9a;
}

.menu-list-container .menu-icon > path {
  fill: #9a9a9a;
}

.action-menu-container {
  margin: 1.5rem 0;
}

.action-menu-button span:first-child::after {
  content: '';
  width: 0;
  height: 0;
  margin-left: 8px;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid #0d2145;
}

.action-menu-item-icon {
  min-width: unset;
  margin-right: 0.5rem;
}

.action-menu-item-icon .menu-icon > path {
  fill: #9a9a9a;
}

.no-data-available {
  background-color: #f0f3f8;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-menu-popover-class {
}
