.root {
    width: 100%;
}

.fieldLabel {
    font-family: "Montserrat";
    font-size: 11px !important;
    margin-bottom: 0.5rem;
}

.infoText {
    color: #999999;
    font-size: 0.8rem;
    padding: 4px 0px;
}