.row {
  padding: 1rem 1.75rem;
  text-decoration: none !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.92rem;
  color: #02122f !important;
}

.row:hover {
  background-color: #f0f3f8;
}

.selectedRow {
  font-weight: 500;
  font-size: 0.92rem;
  padding: 1rem 1.75rem;
  border-left: 3px solid #f4266e;
  background-color: #f0f3f8;
  padding-left: 25px;
}
.subTitle {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 20px;
  color: #0d2145;
}
.searchBar {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  font-family: 'Montserrat';
  font-size: 1rem;
  color: #999999;
}

.searchBar .inputBox {
  flex: 1;
}
.table {
  display: flex;
  flex-direction: column;
  height: 480px !important;
  border: 2px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
}

.emptyMessage {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999999;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #02122f;
  margin-left: 10px;
}
