.rootContainer {
    height: 100%;
    overflow: hidden !important;
    padding-right: 4px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 3rem !important;
}

.root form {
    width: "100%";
    margin-top: 1rem;
}

.header {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #0D2145;
    padding-bottom: 1rem;
}

.avatarButton {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.85rem;
    color: #02122F;
    padding: 0rem 0.5rem !important;
}

.avatarButtonIcon {
    height: 0.78rem;
    width: 0.78rem;
}

.avatarButtonIcon>path {
    fill: #9A9A9A;
}

.formFieldLabel {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.78rem;
    text-transform: uppercase;
    color: #999999;
    padding-bottom: 0.2rem;
}

.infoText {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.85rem;
    color: #02122F;
    padding-top: 3rem;
}

.passwordStrengthBar {
    display: flex;
    padding-right: 1rem;
}

.passwordStrengthBar>div {
    flex: 3;
    padding-right: 1rem;
}

.passwordStrengthBar>div>div {
    height: 4px !important;
}

.scoreWord {
    flex: 2;
}

.hidden {
    display: none !important;
}