.root {
  height: 100%;
  background-color: #ffffff;
  padding: 1rem 2rem 0rem 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 1.86rem;
  color: #02122f;
}

.info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #02122f;
  padding: 1rem 0rem;
}

.sectionContainer {
  height: 100%;
  background-color: #ffffff;
}
