.root {
  height: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  padding: 1rem 2rem 0rem 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 1.86rem;
  color: #02122f;
  justify-content: space-between;
}

.sectionContainer {
  margin: 2.49rem 0rem;
}

.sectionTitleContainer {
  background: #f0f3f8;
  box-sizing: border-box;
  margin: -1rem -2rem 1.5rem -2rem;
  padding: 0.78rem 0rem 0.78rem 2rem;
}

.sectionTitle {
  font-family: 'Playfair Display';
  font-weight: bold;
  line-height: 20px;
  font-size: 1.07rem;
}

.select {
  margin-right: 2.14rem !important;
  width: 100%;
  max-width: 120px;
}

.selected {
  display: inline-flex;
  align-items: center;
  margin-left: 1.5rem !important;
}

.selectedGlobal {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem !important;
}

.action {
  cursor: pointer;
}

.divider {
  margin: 1rem 0rem 1rem 0rem !important;
}

@media only screen and (max-width: 1280px) {
  .root {
    padding: 1rem 1rem 0rem 1rem;
  }
}
