.cst-card .MuiToggleButton-root:hover {
    background-color: #FBF0F4;
}

.cst-card-selected .MuiToggleButton-root.Mui-selected {
    border-radius: 10px;
    height: 20px;
    margin-top: 7px;
    background: #FBF0F4;
    border: 1px solid #F4266E;
    color: #F4266E;
}