.root {
    background: #FFFFFF;
    box-shadow: 0px 0.5px 2px rgba(30, 31, 35, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.selectedRoot {
    background: #E6EBF4;
    box-shadow: 0px 0.5px 2px rgba(30, 31, 35, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.headSection {
    border-bottom: 1px solid #D2D2D2;
    padding: 1rem;
}

.checkBoxContainer {
    display: flex;
    align-items: flex-start;
}

.checkBox {
    color: #02122F !important;
    padding: 2px 4px 0px 0px !important;
}

.taskLabel {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #02122F;
    margin-bottom: 1rem;
    overflow-wrap: anywhere;
}

.taskCompletedLabel {
    opacity: 0.5;
    text-decoration: line-through;
}

.subInfoContainer {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.menuIconBox {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*position: absolute;*/
    /*right: 5%;*/
}

.menuIcon {
    color: #9A9A9A;
    cursor: pointer;
    margin-left: 0.5rem;
}

.taskDate {
    background: #F0F3F8;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem !important;
    color: #243656;
    padding: 4px;
    display: flex;
}

.overdue {
    background: #F5DBE5;
    color: #F4266E;
}

.taskCompletedDate {
    opacity: 0.5;
}

.dateIcon {
    margin-right: 4px;
    font-size: 1rem !important;
}

.overdue .dateIcon>svg {
    fill: #F4266E;
}

.highlightedText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    color: #F4266E;
    margin-right: auto;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.greyedText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    color: #858585;
}
