.card {
  background: #ffffff;
  border-radius: 0px;
  border-bottom: 1px #D2D2D2 solid;
  cursor: pointer;
  display: flex;
  overflow: visible;
  border: none;
  box-shadow: none;
}

.cardHeader {
  background: #ffffff;
  border-radius: 0px;
  height: 64px;
}

.selectedCard {
  background-color: #F0F3F8;
  border-radius: 0px;
  display: flex;
  overflow: visible;
}

.border {
  border-bottom: 1px #D2D2D2 solid;
  height: 1px;
  width: 80%;
  margin-left: 50px;
}

.content {
  padding: 15px 15px 10px 10px;
  display: flex;
  width: 100%;
  position: relative;
}

.selectedContent {
  padding: 15px 15px 10px 10px;
}

.rowOnSelected {
  min-height: 100%;
  min-width: 3px;
  background: #F4266E;
  z-index: 1000;
}

.Typography {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #02122F;
  padding-left: 6px;
}

.selectedTypography {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #02122F;
  padding-left: 6px;
}

.containerSubtitle {
  flex: 30%;
  text-align: end;
}

.subtitle {
  position: relative;
  padding-left: 6px;
  color: #02122F;
  opacity: 0.5;
  font-size: 11px;
  font-weight: 400;
}

.pin {
  position: absolute;
  right: -10px;
  top: -10px;
}

.contextMenuIconButton {
  padding: 0;
  margin-left: auto;
  margin-right: 5px;
}

.menuListItem {
  align-items: center;
}

.listItemIcon {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.listItemText {
  margin-top: 0;
}

.containerAvatar {
  position: relative; 
  flex: 10%;
}

.online {
  padding: 1px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.iconButton {
  background-color: white;
  padding: 0;
}
.iconButton:hover {
  background-color: transparent;
}

.iconButtonSentimentSatisfiedAlt {
  padding-left: 5px;
}

.iconButtonMore {
  display: none;
  color: #9A9A9A;
  padding-left: 5px;
  background: transparent;
}

.card:hover .iconButtonMore {
  display: block;
  position: absolute;
  top: 15px;
  right: -10px;
}

.selectedCard:hover .iconButtonMore {
  display: block;
  position: absolute;
  top: 15px;
  right: -10px;
}

.messageTime {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
}

/* .card:hover .messageTime {
  display: none;
} 
  KAS-4030 not hide time when hovered
*/ 

/* .selectedCard:hover .messageTime {
  display: none;
  KAS-4030 not hide time when hovered
} */

.cardInformation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 70%;
}

.visible {
  display: block;
  position: absolute;
  top: 15px;
  right: -10px;
}