.root {
    height: calc(100vh - 64px);
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.tableContainer {
    flex: 1;
}

.name {
    word-break: break-word;
}

.type,
.count {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8px;
}

.durationType {
    color: #9a9a9a;
    font-size: 0.85rem;
}