.root {
    overflow: hidden;
    background-color: #F0F3F8;
    display: flex;
    flex: 1;
}

.listContainer {
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #BBC1CD;
    display: flex;
    flex-direction: column;
}

.headerContainer {
    font-family: "Playfair Display";
    padding: 1rem 1.7rem;
}

.headerContainer .listHeader {
    font-weight: bold;
    font-size: 1.86rem;
    color: #02122F;
    padding-bottom: 1.7rem;
}

.headerContainer .listSubHeader {
    visibility: hidden;
    font-weight: bold;
    font-size: 1rem;
    color: #0D2145;
}

.section {
    margin: 0.5rem 1rem;
    padding: 0.2rem 0.57rem;
    text-decoration: none !important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.92rem;
    color: #02122F !important;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
}

.section:first-child {
    margin-top: 0px;
}

.section:hover {
    background-color: #F0F3F8;
}

.selectedSection {
    background: #E7EDF7;
    border: 1px solid #D9E2F3;
    box-sizing: border-box;
    border-radius: 4px;
}

.detailsPane {
    display: flex;
    flex-direction: column;
}