.root {
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  padding: 1rem 1rem 1rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 1.86rem;
  font-style: normal;
  color: #02122F;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.formFieldLabel {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 0.78rem;
  text-transform: uppercase;
  color: #999999;
  padding-bottom: 0.2rem;
}