body {
  overflow: auto;
}

/* Root class */
.print-preview-root {
  padding-top: 4rem;
  background-color: #FFFFFF !important;
  display: flex;
  flex-direction: column;
}

/* Form Title */
.print-preview-root .formio-form:first-child .custom-form-title {
  border-width: 0px 0px 1px 0px;
  border-color: #F4266E;
  border-style: solid;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.print-preview-root .formio-form .custom-form-title span {
  font-size: 2rem;
}

/* Radio field */
.print-preview-root .formio-form .form-radio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(3rem, auto);
}

/* Form fieldset title */
.print-preview-root .formio-form .form-group .formio-component-content *,
.print-preview-root .formio-form .custom-form-label,
.print-preview-root .formio-form .custom-form-label * {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  margin: 0px !important;
  color: #000000;
}

.print-preview-override .formio-form .form-group:not(:first-of-type) .formio-component-content,
.print-preview-override .formio-form .custom-form-label {
  background: #F0F3F8;
  padding: 4px;
  margin: 2rem 0rem !important;
}

/* Form fieldset container */
.print-preview-override fieldset {
  width: 100%;
}

/* Individual Form fields */
.print-preview-override .formio-component {
  display: flex;
  /* align-items: center; */
  width: 100%;
}

/* Individual Form field label */
.print-preview-override .formio-component label {
  flex: 1 !important;
  display: flex !important;
  font-size: 0.8rem !important;
  color: #000000;
  word-break: normal !important;
  padding-right: 1rem !important;
}

.print-preview-override .field-required:after,
.print-preview-override .tab-error::after {
  margin-left: 4px !important;
}

.print-preview-override .formio-component>div:first-of-type {
  flex: 2 !important;
}

/* Form input field */
.print-preview-override .formio-component-datetime input,
.print-preview-override .formio-component-textfield input,
.print-preview-override .formio-component-phoneNumber input,
.print-preview-override .formio-component-password input,
.print-preview-override .formio-component-email input,
.print-preview-root .formio-component-select .formio-choices .dropdown {
  font-size: 1rem !important;
  border-width: 0px 0px 1px 0px !important;
  border-radius: 0px !important;
  border-color: #000000;
  color: #000000;
}

/* Dropdown box arrow icon */
.print-preview-override .formio-component-select .choices[data-type*=select-one]:after {
  display: none;
}

.print-preview-override select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  text-indent: 1px !important;
  text-overflow: '' !important;
}

/* Datetime picker component */
.print-preview-override .formio-component-datetime .input-group-append {
  display: none;
}

.print-preview-override .formio-component-day .form-control {
  border-width: 0px 0px 1px 0px !important;
  border-radius: 0px !important;
  border-color: #000000;
}

/* Placeholders */
.print-preview-override ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent !important;
}

.print-preview-override :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent !important;
  opacity: 1;
}

.print-preview-override ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent !important;
  opacity: 1;
}

.print-preview-override :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent !important;
}

.print-preview-override .formio-select-autocomplete-input {
  display: none !important;
}

/* Signature pad */

.formio-form .signature-pad {
  height: 140px !important;
  align-items: flex-start !important;
  margin-bottom: 2rem !important;
}

.formio-form .signature-pad>div:first-of-type {
  position: relative !important;
}

.print-preview-override .formio-component-signature .signature-pad-body {
  position: absolute !important;
  font-size: 1rem !important;
  width: 46rem !important;
  /* border-width: 0px 0px 2px 0px !important; */
  /* border-radius: 0px !important; */
  border: 1px solid #D2D2D2 !important;
}

.print-preview-override .formio-component-signature a,
.print-preview-override .formio-component-signature span {
  display: none;
}

.print-preview-override .formio-component-signature .signature-pad-canvas {
  border: none;
}

/* Multi-selected list */
.print-preview-override .choices__list--multiple .choices__item {
  border: none !important;
  background: transparent !important;
  margin: 0px !important;
}

.print-preview-override .choices__list--multiple .choices__item button {
  display: none !important;
}

.print-preview-override .choices__list--multiple .choices__item:not(:last-child)::after {
  content: ", ";
}

/* Column layout */
.print-preview-override.print-preview-col-layout .formio-component-columns {
  display: block;
  margin: 0px;
}

.print-preview-override.print-preview-col-layout .formio-component-columns>div {
  max-width: initial;
  padding: 0px;
}

/* Media Queries */

@media only screen and (min-width: 1100px) {
  .print-preview-override .res-page-section {
    width: 1100px !important;
  }
}

@media print {
  .print-preview-override .formio-form .form-group:not(:first-of-type) .custom-form-title {
    page-break-before: always;
  }

  .print-preview-override .formio-form .formio-component {
    page-break-inside: avoid !important;
  }

  .print-preview-override button {
    display: none;
  }

  [class*=PaperlessFormsPrintPreview_body]>div {
    overflow: hidden !important;
  }
}