.passwordStrengthBar {
    display: flex;
    padding-right: 1rem;
}

.passwordStrengthBar>div {
    flex: 3;
    padding-right: 1rem;
}

.passwordStrengthBar>div>div {
    height: 4px !important;
}

.scoreWord {
    flex: 2;
}