.container {
    display: flex;
    background-color: #E5E5E5;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.contentContainer {
    display: flex;
    flex-direction: column;
}

.titlesContainer {
    display: flex;
    flex-direction: column;
}

.officeInfoContainer {
    display: flex;
    align-items: center;
    background: #E7EDF6;
    padding: 1.42rem;
    border: 1px solid #D9E2F3;
    border-radius: 3px;
}

.officeInfoTextContainer {
    display: flex;
    flex-direction: column;
}

.officeName {
    font-family: "Montserrat";
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
}

.officeAddress {
    font-family: "Montserrat";
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
}

.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 1.85rem;
    line-height: 1.71rem;
    color: #02122F;
    margin-top: 12px;
    margin-bottom: 9px;
}

.subtitle {
    font-size: 1rem;
    line-height: 140%;
    color: #02122F;
    margin-bottom: 9px;
}

.divider {
    height: 100% !important;
}

.schedulePaper {
    display: flex;
    justify-content: space-around;
}

.appointmentContainer {
    justify-content: space-between;
}