.activityLogRow {
  margin: 37px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.activityLogWrapper {
  margin-top: 0.5rem;
  padding: 7px 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background-color: #F0F3F8;
}

.activityLogAppointmentWrapper {
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: #F0F3F8;
}

.activityLogAppointmentWrapper hr {
  margin: 0;
}

.activityLogAppointmentHeader {
  display: flex;
  padding: 12px 20px;
}

.activityLogAppointmentHeaderText {
  margin-left: 8px;
  font-size: 14px;
}

.activityLogAppoinmentBody {
  display: block;
  padding: 12px 20px;
}

.activityLogAppoinmentLabel {
  font-weight: 600;
  width: 100px;
}

.activityLogIcon {
  display: flex;
  align-items: center;
}

.activityLogIcon svg {
  width: 1rem;
  height: 1rem;
}

.activityLogText {
  padding: 9px 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10px 10px 0px 10px;
  color: #000000;
  white-space: pre-wrap;
  max-width: 100%;
}

.activityLogTextSpecial {
  font-weight: 700;
}

.activityLogAction {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.activityLogActionStacked {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.activityLogAction .activityLogActionCallBack {
  padding: 0 0 0 5px;
  box-shadow: none;
  background-color: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 100%;
}

.activityLogActionCallBackControl {
  margin-top: 8px;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.activityLogTime {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  color: #9A9A9A;
  line-height: 140%;
  margin-top: 0.5rem;
  float: right;
}
