.cardMember {
  display: flex;
  gap: 9px;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  cursor: pointer;
  position: relative;
}

.selectCard {
  background-color: rgba(244, 38, 110, 0.08);
  border-radius: 0px;
  border-bottom: 1px #D2D2D2 solid;
  border-top: 1px #D2D2D2 solid;
}

.cardName {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #02122F;
}

.pin {
  position: absolute;
  right: 14px;
  top: 0px;
}
