.root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  position: relative;
}

.schedulerProgressBar {
  position: absolute;
  width: 100%;
}

.dayViewLayoutContainer {
  flex: 1;
}

.dayViewLayoutContainer > div {
  position: absolute;
}

.groupingPanel div {
  text-align: center;
  font-size: 1rem;
  color: #999999;
  font-weight: 500;
}

.dateNavigationButton {
  background: #f0f3f8;
  border-radius: 4px;
}

.dateNavigationButton svg {
  color: #02122f;
}

.appointmentCard {
  color: #02122f;
  border-style: solid;
  border-radius: 3px;
  padding: 4px 1px 1px 1px;
  font-size: 0.86rem;
  background-color: #fafafa;
}

.appointmentCardBody {
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 2px 2px;
  padding: 4px 8px;
  cursor: pointer;
}

.appointmentCardBody:hover {
  background-color: transparent !important;
  color: #ffffff;
}

.appointmentCardTitle {
  font-weight: 600;
}

.editColumnsButton {
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  padding: 0.5rem;
  margin-right: 1rem;
}

.editColumnsButton svg {
  color: #02122f;
}

/* CSS styles for appointment card based on status */
.notCalled {
  background-color: #fafafa;
  border-color: #dddddd;
}

.notCalled:hover {
  background-color: #dddddd;
}

.unconfirmed {
  background-color: #fff8df;
  border-color: #f3c82d;
}

.unconfirmed:hover {
  background-color: #f3c82d;
}

.confirmed {
  background-color: #e6f4e9;
  border-color: #5a9b68;
}

.confirmed:hover {
  background-color: #5a9b68;
}

.leftMsg {
  background-color: #e6e7f4;
  border-color: #61a6e7;
}

.leftMsg:hover {
  background-color: #61a6e7;
}

.arrived {
  background-color: #e6e7f4;
  border-color: #6d72e0;
}

.arrived:hover {
  background-color: #6d72e0;
}

.ready {
  background-color: #f0e6ed;
  border-color: #df63bd;
}

.ready:hover {
  background-color: #df63bd;
}

.nowIndicator {
  width: 100%;
  border: 0.5px dashed #f4266e;
}
