.root {
    height: 100%;
    overflow: hidden;
}

.chatBoxContainer {
    height: 0px;
    flex: 1;
}

.patientBoardContainer {
    flex: 1;
    height: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #BBC1CD;
}

.taskListContainer {
    border: 1px solid #BBC1CD;
    display: flex;
    flex: 1;
}