.root {
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2rem 1.5rem 1rem 1.5rem;
  position: relative;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.15rem;
  color: #02122F;
}

.titleSecondary {
  font-family: 'Montserrat';
  font-size: 1rem;
  color: #999999;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.idField {
  font-size: 0.85rem;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
}

.switch {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}