.addPatientContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  color: #0d2145;
  margin-bottom: 1rem;
}

.subtitle {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #02122f;
}

.headingText {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  color: #0d2145;
}

.daysName {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #02122f;
}

.buttonGroup {
  background: #d9e2f3;
  border: 1px solid #293d63;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #0d2145;
}

.time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #999999;
}

.micIcon {
  color: white !important;
  background: #f4266e !important;
  height: 4rem !important;
  width: 4rem !important;
  padding: 1rem;
  border-radius: 50% !important;
}

.startRecord {
  color: #f4266e;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.box {
  display: flex;
  justify-content: center;
}

.playPause {
  font-size: 3.5rem !important;
  color: #f4266e;
  cursor: pointer;
}
.recorderContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid #d9e2f3;
  border-radius: 8px;
  padding: 0.6rem;

  min-height: 102px;
  flex-direction: column;
}

.playerContainer {
  width: calc(100% - 4rem);
}
.flexButtons {
  position: absolute;
  bottom: 4rem;
  width: 86% !important;
  margin-left: -18.6%;

  display: flex;
  justify-content: space-between;
}
