.container {
    margin-top: 1rem;
    height: 75px;
}

.emailLabel {
    font-family: "Montserrat";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2rem;
}

.pencilIcon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.switchInputContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}